
.navbar {
    color:   rgb(240, 190, 128);
    background-color: white;
    width: 100%;
    font-family:'Rubik', sans-serif;
}

.navbar-toggler:hover{
    cursor: pointer;
}

#main-logo{
    height: 80px;
}


.img-fluid{
    width: 100%;   
   
}

.header-img {
   opacity: 0.7;
   z-index: -100;
   padding-top: 80px;
   background-image: linear-gradient(to bottom right, transparent 0%, white 100%);
}

.tagline{
    position: absolute;
    top: 200px;
    left: 230px;
    width:60%;
    color: grey;
    background-color: transparent;
    font-family:'Rubik', sans-serif;
    
}

.container{
    max-width: 90%;
    margin: auto;
}


.btn,
.btn-primary,
a #portfolio{
    background-color: rgb(240, 190, 128) ;
    border-color:  rgb(240, 190, 128);
    color: rgb(66, 64, 64);
    padding: 10px;
    font-family: 'Karla', sans-serif;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover,
.btn-primary:hover{
    cursor: pointer;
    color:white;
    background-color: rgb(238, 165, 77);
    border:  rgb(238, 165, 77);
    text-decoration: none;
}

.michelle{
    border-radius: 5px;
    width: 300px;
    height:200px;
}

.card{
margin-bottom: 50px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3{
    font-family:'Rubik', sans-serif;
    color: grey;
    margin-bottom: 30px;
}

h5{
    text-align: center;
}

.skills{
    background-color:  rgb(247, 218, 181);
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p, h5{
    font-family: 'Karla', sans-serif;
    color: rgb(66, 64, 64);
}

#contact{
    width: 80%;
    margin: auto;
}
.contact-btn{
    margin-bottom: 30px;
}

#portfolio,
#contact{
    padding-top: 30px;
    border-top: 1px solid grey;
    text-align: center;
}

@media (min-width:768px){
.tagline{
    position: static;
}

.landing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 350px 350px 350px 350px 120px;
    grid-template-areas: 
    "nav header header"
    "nav about about"
    "nav portfolio portfolio"
    "nav portfolio portfolio"
    "nav contact contact"
    "footer footer footer"

}
.navbar {
    grid-area: nav;
}
.header {
    grid-area: header;
}

#about{
    grid-area: about;
}

.portofolio{
    grid-area: portfolio;
}
#contact{
    grid-area: contact;
}

footer{
    grid-area: footer;
}



}

@media (min-width:1200px){


    
}